entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "cargo", "glibcLocales", "libiconv", "libxcrypt", "ocl-icd", "opencl-headers", "openssl", "pkg-config", "rustc", "xsimd", "gcc"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "flask-app"

[[workflows.workflow]]
name = "flask-app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export LD_LIBRARY_PATH=$(gcc -print-file-name=libgomp.so | xargs dirname):$LD_LIBRARY_PATH && python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37183
externalPort = 3003

[[ports]]
localPort = 42105
externalPort = 3000

[[ports]]
localPort = 43509
externalPort = 3002

[[ports]]
localPort = 43799
externalPort = 3001
