entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "cargo", "freetype", "gcc", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "ocl-icd", "opencl-headers", "openjpeg", "openssl", "pkg-config", "rustc", "tcl", "tk", "xsimd", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true
integrations = ["python_database:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "flask-app"

[[workflows.workflow]]
name = "flask-app"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34901
externalPort = 3000

[[ports]]
localPort = 35121
externalPort = 4200

[[ports]]
localPort = 43509
externalPort = 3002

[[ports]]
localPort = 43799
externalPort = 3001

[[ports]]
localPort = 43913
externalPort = 3003
